.login-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: url(../../assets/img/login-bg.svg) #f0f2f5 no-repeat center 110px;
  background-size: 100%;
  overflow: hidden;
  min-width: 380px;
}

.login-form {
  width: 368px;
  margin: 0 auto;
  z-index: 2;
}

.login-form-button {
  width: 100%;
}

.logo-box {
  margin: 200px auto 40px;
}

.logo {
  height: 55px;
  margin-right: 8px;
}

.logo-name {
  position: relative;
  top: 8px;
  color: rgba(0, 0, 0, .85);
  font-weight: 600;
  font-size: 26px;
}

.captche-box {
  width: 100%;
}

.captche-box img {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  height: 40px;
  vertical-align: top;
  cursor: pointer;
}
