.btnGroups {
  width: 120px;
}

.btn {
  margin: 4px;
}

.titleText {
  max-width: 150px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  height: 43px;
  padding-left: 4px;
  margin: 0;
}
