.App {
  height: 100vh;
}

#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.global-spin {
  position: fixed;
  top: 50%;
  left: 50%;
}

.ant-page-header {
  padding: 16px 0!important;
}

.ant-page-header-heading .ant-page-header-heading-title {
  font-size: 16px;
  border-left: solid 4px #1890ff;
  padding-left: 8px;
  /* line-height: 20px;
  padding-left: 8px; */
}

.btnGroup {
  padding: 16px 0;
}
